html {
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: min(20%, 10em);
}

p, h1, h2, h3 {
  color: #dfdfdf;
}

p {
  font-size: 1.15em;
  line-height: 1.35em;
}

.simcir {
  margin-bottom: 4em;
}

a {
  color: #9aaae3;
}

a:visited {
  color: #ca9ae3;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #dfdfdf; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
}

li {
  margin-bottom: 0.5em;
}