html {
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: min(20%, 10em);
}

p, h1, h2, h3 {
  color: #dfdfdf;
}

p {
  font-size: 1.15em;
  line-height: 1.35em;
}

.simcir {
  margin-bottom: 4em;
}

a {
  color: #9aaae3;
}

a:visited {
  color: #ca9ae3;
}